.app {
  &-table {
    width: 100%;
    margin: $app__padd auto;

    &_grid-resolutions {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 0.15fr;

      &-slice {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 0.15fr;
      }
    }

    &__body {
      border: 2px solid $app__color_field;
      border-top: none;
      border-bottom-right-radius: $app__radius_big;
      border-bottom-left-radius: $app__radius_big;
      min-height: calc($app__padd * 6);
      max-height: calc($app__padd * 50);
      overflow-y: auto;

      &_empty {
        @include flex-center;
      }

      &_no-provide {
        text-align: center;
      }
    }

    &__header,
    &__line {
      display: grid;
      background: $app__color_light;
      border-bottom: $app__border_standard solid $app__color_field;

      &-item {
        @include flex-center;
        min-height: calc($app__padd * 4);

        font-family: $app__font_field;
        text-align: center;
        font-size: $app__font_size-standard;
        line-height: $app__padd;
      }
    }

    &__header {
      padding-right: $app__scroll_size;

      border: $app__border_standard solid $app__color_field;
      border-top-right-radius: $app__radius_big;
      border-top-left-radius: $app__radius_big;

      &_primary {
        color: $app__color_light;
        background: $app__color_primary;
      }
    }

    &__line {
      cursor: pointer;
      border: $app__border_standard solid transparent;
      margin-bottom: $app__padd;

      &_selected {
        background: $app__color_inactive;
      }

      &-item {
        font-family: $app__font_field;
        line-height: $app__font_size-small;

        &:not(.app-table__line-item:last-child) {
          margin-right: $app__padd;
        }
      }
    }
  }
}
