.app__controls {
  &_block:first-child {
    margin-bottom: $app__padd;
  }

  &_host {
    @include flex-vertical-center;
    gap: $app__padd;
  }

  &_desc {
    font-weight: 700;
  }

  &_info {
    @include flex-vertical-center;
    gap: $app__padd;
    padding: $app__padd;
    color: $app__color_light;
    background: $app__color_primary;
  }

  &_btn {
    @include round_block(calc($app__icon_size * 1.5));
    font-size: $app__font_size-big;
    background: $app__color_primary-light !important;
    color: $app__color_light;

    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;

    &:hover {
      background: $app__color_primary !important;
    }
  }
}
