@font-face {
  font-family: "NotoSerif";
  src: url("@/assets/fonts/Noto_Serif/static/NotoSerif-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RussoOne";
  src: url("@/assets/fonts/RussoOne/RussoOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
