$app__color_primary: #4d6d9a;
$app__color_primary-light: rgba(77, 109, 154, 0.85);
$app__color_dark: #000;
$app__color_error: #b23850;
$app__color_field: #858080;
$app__color_inactive: #dfe2e5;

$app__font_main: "RussoOne";
$app__font_field: "NotoSerif";

$app__font_size-standard: 1rem;
$app__font_size-small: 0, 75rem;
$app__font_size-big: 1.25rem;

$app__radius_standard: 3px;
